APP_ENV=testing
APP_KEY=
APP_DEBUG=true


DB_CONNECTION=sqlite
DB_DATABASE=:memory:


CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array


MAIL_MAILER=array


#


BCRYPT_ROUNDS=4


TELESCOPE_ENABLED=false
